.resume{
    font-size: 20px;
    padding: 20px 20px;
}

li{
    padding: 5px;
}

.body{
    margin: 10px;
}

.resumes{
    font-size: 60px;
}

.mainpersonalDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.details {
    flex: 1;
}


.photo img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: 170px;
    width: 170px;
}




textarea:focus,
input:focus {
    outline: none;
}

.subheading{
    color: blue;
}


table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
  }

  
  .footer{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  }

.footerleft{
    flex: 1;
}


.footerleft b{

    font-size: 25px;
}



.footerright b{

    font-size: 25px;
}


ul{
    size: 20px;
}
